Repository daviduhden/serhanekicii-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, shellcheck, prettier, stylelint

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -p
  - -i
  - '4'
  - -ci
  - -bn
  - -sr
  - -d

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -x

prettier:
  name: prettier
  entry: prettier
  language: system
  args:
  - --check

stylelint:
  name: stylelint
  entry: stylelint
  language: system
  args:
  - '**/*.html'
  - '**/*.css'

rename `safe_replace` to `replace_placeholder` and make it compatible with BSD sed
  gen
Due: shfmt, shellcheck

readme: update dependencies
  README.md
  gen
Due: shfmt, shellcheck, prettier

line breaks, improve readability
  gen
Due: shfmt, shellcheck

add `check_var` and improve readability
  conf
  gen
Due: shfmt, shellcheck

improve markdown and css handling and fix `replace_comment` var name conflict
  gen
Due: shfmt, shellcheck

increase `main` `max-width` to `130ex`
  .pre-commit-config.yaml
  .prettierignore
  .stylelintignore
  style.css
Due: prettier, stylelint

Dockerfile: ensure permissions are set correctly
  Dockerfile
Due: none

improve comments
  gen
Due: shfmt, shellcheck

delete `.stylelintrc.json` and configure pre-commit prettier to check `md` files as well
  .pre-commit-config.yaml
  .stylelintrc.json
Due: none

readme: grammar and readability improvements
  README.md
Due: prettier

skip if no `css` or `md` files are found
  gen
Due: shfmt, shellcheck

avoid `if`
  gen
Due: shfmt, shellcheck

avoid echo
  gen
Due: shfmt, shellcheck

avoid `grep` in `replace_comment`
  gen
Due: shfmt, shellcheck

remove newlines from `rss_content`
  gen
Due: shfmt, shellcheck

unify replace functions
  gen
Due: shfmt, shellcheck

avoid `grep -o`
  gen
Due: shfmt, shellcheck

avoid `cp -r` use `cp -R` instead
  gen
Due: shfmt, shellcheck

skip empty lines while iterating over `to_build`
  README.md
  gen
Due: shfmt, shellcheck, prettier

use `cmark-gfm` instead of `pandoc` for 3x faster conversions
  Dockerfile
  README.md
  gen
Due: shfmt, shellcheck, prettier

functionize `process_file`
  gen
Due: shfmt, shellcheck

readme: replace `pandoc` with `cmark-gfm`
  README.md
Due: prettier

avoid `realpath` and implement `posix_realpath`
  README.md
  gen
Due: shfmt, shellcheck, prettier

add TODO to and optimize css aggregation
  README.md
  gen
Due: shfmt, shellcheck, prettier

A && B || C is not if-then-else
  gen
Due: shfmt, shellcheck

no need to disable `SC2031`
  gen
Due: shfmt, shellcheck

address all `SC2154`
  gen
Due: shfmt, shellcheck

improve `add_header` and `add_footer` logic
  gen
  index.html/conf
Due: shfmt, shellcheck

avoid `echo`
  gen
Due: shfmt, shellcheck

ensure GitHub Actions fetches full repository before build
  .github/workflows/ci.yml
Due: none

use RFC 822/1123 date format in git log
  gen
Due: shfmt, shellcheck

ttmwm: inline html to markdown
  ttmwm.html/0.md
Due: prettier

Path conditions:
  shfmt: any of: gen
  shellcheck: any of: gen
  prettier: any of: \.(html|css|md)$
  stylelint: any of: \.(html|css)$
